<div class="overlay">
<%= render 'shared/navbar' %>
<div class="container" style="margin-top: 130px; padding-bottom: 50px;background-color:white; width: 800px;border: solid 8px #ff3f00;
    padding-left: 30px; padding-right: 30px;">
	<h1 class="text-center" style="margin-bottom: 45px; padding-top: 70px; color: black">Edit your spot</h1>
<%= simple_form_for [@event, @spot] do |f| %>

  <fieldset class="form-group radio_buttons required spot_category">
  	<legend class="col-form-label pt-0 nombre">Category <abbr title="required">*</abbr></legend>
  	<div class="category-choices">
	  	<input type="hidden" name="spot[category]" value="">
	  	<div class="form-check form-check-inline">
	  		<input class="form-check-input radio_buttons required" type="radio" value="sound" name="spot[category]" id="spot_category_sound" style="display:none;">
	  		<label class="collection_radio_buttons category-choice" for="spot_category_sound">Sound</label>
	  	</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input radio_buttons required" type="radio" value="visual" name="spot[category]" id="spot_category_visual" style="display:none;">
			<label class="collection_radio_buttons category-choice" for="spot_category_visual">Visual</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input radio_buttons required" type="radio" value="performance" name="spot[category]" id="spot_category_performance" style="display:none;">
			<label class="collection_radio_buttons category-choice" for="spot_category_performance">Performance</label>
		</div>
		<div class="form-check form-check-inline">
			<input class="form-check-input radio_buttons required" type="radio" value="helping_hand" name="spot[category]" id="spot_category_helping_hand" style="display:none;">
			<label class="collection_radio_buttons category-choice" for="spot_category_helping_hand">Helping_hand</label>
		</div>	
	</div>
  	</fieldset>
  <%= f.input :role, label_html: { class: "nombre"} %>
  <%= f.input :description, label_html: { class: "nombre"} %>


  <%= f.submit "Save", class: "btn boton", name: "submit-type", value: "Save Spot" %>

  <%= f.submit "Save and Search", class: "btn boton",  name: "submit-type", value: "Find Creatives" %>


<% end %>
</div>
</div>