<div class="container">
<%= simple_form_for [@event, @spot] do |f| %>
  <%= f.input :category, collection: Spot.categories.keys%>
  <%= f.input :role %>
  <%= f.input :description %>
  <%= f.submit "Update Spot", class: "btn btn-primary" %>

<% end %>
</div>
