<div class="navbar navbar-expand-md fixed-top navbar-dark" >
  <%= link_to root_path, class: "navbar-brand", style: "color: black" do %>
    <i class="far fa-hand-paper"></i>  ManyHands
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <div class="navbar-nav ml-auto">
        <form method="post" class="search-form">
          <span class="icon ion ion-search"></span>
          <input type="text" class="form-control" placeholder="Search...">
        </form>
     </div>
     <% if user_signed_in? %>
      <li>
        <%= link_to "Log Out", destroy_user_session_path, class: "nav-link", style: "color: black", method: :delete %>
      </li>
      <% else %>
      <li>
        <%= link_to "Log In", new_user_session_path, class: "nav-link", style: "color: black" %>
      </li>

      <% end %>

      <li class="nav-item dropdown ml-4">
        <%= image_tag "http://indiedeveloper.com/wp-content/themes/sweetdate-child/avatar-blank.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
        </div>
      </li>


    </ul>
  </div>
</div>

