<%= render 'shared/navbar' %>

<div class="container" style="padding-top: 120px; max-width: 1500px; display: flex;">
<div class="col-6">
  <% @events.each do |event| %>
        <!-- Card -->
    <div class="card-product">
      <%= cl_image_tag event.photo, height: 300, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= link_to event.name, event_path(event) %></h2>
        <p>VENUE: <%= event.venue_name%></p>
        <p>START: <%= event.start_date%></p>
        <p>END: <%= event.end_date%></p>
        <p><%= event.about%></p>
      </div>
    </div>
<% end %>
</div>
<div class="col-6">
  Aqui va el puto mapa
</div>

</div>









