
<div class="row justify-content-around px-5" style="padding-top: 120px; width: 1200px;">
  <h2 class="pb-3"> Events in your Area</h1>
<div class="col-12">
  <% @events.each do |event| %>
        <!-- Card -->
    <div class="card-product">
      <%= cl_image_tag event.photo, height: 300, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= link_to event.name, event_path(event) %></h2>
        <p>VENUE: <%= event.venue_name%></p>
        <p>START: <%= event.start_date%></p>
        <p>END: <%= event.end_date%></p>
        <p><%= event.about%></p>
      </div>
    </div>
<% end %>
</div>


</div>

</div>

















