<div class="show-conatiner" style="text-align: center;padding-top: 95px;">
  <br>
  <h1 style="padding-bottom: 25px;">
    <strong><%= @event.name %></strong>
  </h1>
  <div class="font-italic pt-5" style="font-size: 25px; padding: 5px; "><%= @event.address %>
  </div>
  <div class="font-italic pt-5" style="font-size: 25px; padding: 5px; "><%= @event.about %>
  </div>

  <div class="font-italic pt-5" style="font-size: 25px; padding: 5px; "><p>from <%= @event.start_date %> to
    <%= @event.start_date %> at <%= @event.start_time %> until  <%= @event.end_time %>
    </p>
  </div>

  <div>
    <p>Lestat just created this to check that the photo upload is working</p>
    <%= cl_image_tag @event.photo, height: 300, width: 400, crop: :fill %>
  </div>
  <div> <%= link_to "Create spots",  new_event_spot_path(@event) %></div>
  <div>
    <p> YOUR EVENT SPOTS: <% @event.spots.each do |spot|%>
      <%= spot.role %>
      <%= link_to "Edit this spot",  edit_spot_path(spot) %>
      <%= link_to "Delete", spot, method: :delete, data: { confirm: "you sure?" } %>
    <% end %>
    </p>
  </div>

  <%= link_to "Edit this Event",  edit_event_path(@event)%>
</div>
