<%= render 'shared/navbar' %>
<br>
<br>
<br>
<div class="show-conatiner" style="text-align: center;padding-top: 80px;">
  <div class="event-container d-flex justify-content-center">
    <div class="p-3 mr-5">
      <%= cl_image_tag @event.photo, height: 300, width: 400, crop: :fill %>
    </div>
    <div class="align-self-center ml-5">
      <h1 style="padding-bottom: 0px;">
        <strong><%= @event.name %></strong>
      </h1>
      <div class="font pt-2" style="font-size: 15px; padding: 0px; "><%= @event.address %>
      </div>
      <div class="font-italic pt-2" style="font-size: 15px; padding: 0px; "><%= @event.about %>
      </div>
      <div class="pt-2" style="font-size: 12px;">
        <p>Start: <%= @event.start_date.strftime("%b %d, %Y")%> - <%= @event.start_time.strftime("%l:%M %p")%>
          <br>End: <%= @event.end_date.strftime("%b %d, %Y")%> - <%= @event.end_time.strftime("%l:%M %p") %> </p>
        </div>
      </div>
    </div>

    <!-- available spots display here for creatives to see -->
    <!-- creatives can apply for the spot here -->
<% if current_user.is_creative %>
  <div class="text-center mb-4">
    <%= link_to "< Back to events", events_path, class: "btn btn-primary" %>
  </div>
<% else  %>
<div class="organizer-container">
      <div class="admin-event-control">
       <!--Edit/delete this event button -->
       <p><%= link_to "Edit this Event",  edit_event_path(@event)%></p>
       <br>
       <p><%= link_to "Delete this Event", event_path(@event), method: :delete, data: {confirm: "Are you sure?"} %></p>
        <div class="text-center mb-4">
        <%= link_to " Back to events", events_path, class: "btn" %>
        </div>
        </div>

     <div class="admin-spot-control">
      <!-- create spot button -->
      <div class="create-spot">
        <br>
        <div> <%= link_to "Create New spots",  new_event_spot_path(@event), class: 'btn-spot' %>
        </div>
      </div>


<% end %>


<% @event.spots.each do |spot|%>


<div class="spot-box-all">
  <% if spot.requests.where(status: "confirmed").present? %>


  <div class="spot-box-single">
    <div class="each-spot" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path spot.requests.first.user.profile_photo %>')">
      <div style="text-align:center">
        <br>
        <p><strong><%= spot.category.upcase %> || <%= spot.role %></strong></p>

        <% if spot.requests.empty? || spot.requests.where.not(status: "confirmed").present? %>
          <p>Available </p>
        <% else %>
          <p> <b>Confirmed</b></p>
        <% end %>

        <% if spot.requests.where(status: "confirmed").present? %>

          <p><%= link_to "#{spot.requests.first.user.first_name}", spot_creative_path(spot, spot.requests.first.user)%>
          </p>
          <p><%= spot.requests.first.user.skill %></p>
        <% else %>
        <p><b>Blank</b></p>
        <% end %>

        <i><%= spot.description %></i>
        <br>
        <%= link_to "Edit",  edit_spot_path(spot), class: "btn" %>
        <%= link_to "Delete", spot, class: "btn", method: :delete, data: { confirm: "you sure?" } %>
        <br>
        <p><%= link_to "Spot Search",  spot_creatives_path(spot), class: "btn btn-primary" %></p>

        <% if spot.requests.where(status: "confirmed").present? %>
        <p></p>
        <% else %>
        <p><%= link_to "Click to APPLY",  new_spot_request_path(spot), class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
    <div class = "notification-box">
      <h3>Requests</h3>
      <div class="d-flex justify-content-between">
        <% notifications = spot.requests.where(status: :pending) %> <%# Need to change to "pending" %>

        <% notifications.each_with_index do |notification, index| %>
        <div>
          <p><%= index + 1 %>. <%= link_to "#{spot.requests.first.user.first_name}", spot_creative_path(spot, spot.requests.first.user)%> <%= notification.status %></p>
          <p>Message: <%= notification.note %></p>
        </div>

        <%= simple_form_for [@spot, notification], url: spot_request_path(spot, notification), html: { class: "status-form" } do |f| %>

        <a href="#" class="button" data-value="confirmed">✅</a>
        <a href="#" class="button" data-value="rejected">❌</a>
        <%= f.input :status, as: :hidden, input_html: { class: 'status-input' } %>

        <%= f.submit :submit, class: "submit d-none" %>
        <% end %>
        <% end %>

      </div>
    </div>


    <% else %>
    <div class="spot-box-single">
      <div class="each-spot" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://indiedeveloper.com/wp-content/themes/sweetdate-child/avatar-blank.jpg')">
        <div style="text-align:center">
          <br>
          <p><strong><%= spot.category.upcase %> || <%= spot.role %></strong></p>

          <% if spot.requests.empty? || spot.requests.where.not(status: "confirmed").present? %>
          <p>Available</p>
          <% else %>
          <p> <b>Confirmed</b></p>
          <% end %>



          <% if spot.requests.where(status: "confirmed").present? %>

          <p><%= link_to "#{spot.requests.first.user.first_name}", spot_creative_path(spot, spot.requests.first.user)%>
          </p>
          <p><%= spot.requests.first.user.skill %></p>
          <% else %>
          <p><b>Spot still Available!</b></p>
          <p><b>APPLY NOW</b></p>
          <% end %>

          <i><%= spot.description %></i>
          <br>
          <%= link_to "Edit",  edit_spot_path(spot), class: "btn" %>
          <%= link_to "Delete", spot, class: "btn", method: :delete, data: { confirm: "you sure?" } %>
          <br>
          <p><%= link_to "Spot Search",  spot_creatives_path(spot), class: "btn btn-primary" %></p>

          <% if spot.requests.where(status: "confirmed").present? %>
          <p></p>
          <% else %>
          <p><%= link_to "Click to APPLY",  new_spot_request_path(spot), class: "btn btn-primary" %></p>
          <% end %>
        </div>
      </div>

      <div class = "notification-box">
        <h3>Requests</h3>
        <div class="d-flex justify-content-between">
          <% notifications = spot.requests.where(status: :pending) %> <%# Need to change to "pending" %>
          <% notifications.each_with_index do |notification, index| %>
          <div>
            <p><%= index + 1 %>. <%= link_to "#{spot.requests.first.user.first_name}", spot_creative_path(spot, spot.requests.first.user)%> <%= notification.status %></p>
            <p>Message: <%= notification.note %></p>
          </div>

          <%= simple_form_for [@spot, notification], url: spot_request_path(spot, notification), html: { class: "status-form" } do |f| %>

          <a href="#" class="button" data-value="confirmed">✅</a>
          <a href="#" class="button" data-value="rejected">❌</a>
          <%= f.input :status, as: :hidden, input_html: { class: 'status-input' } %>

          <%= f.submit :submit, class: "submit d-none" %>
          <% end %>
          <% end %>
        </div>
      </div>

      <% end  %>
    </div>
    <% end %>






