<%= render 'shared/navbar' %>
<div class="show-conatiner" style="text-align: center;padding-top: 100px;">

  <div class="event-container">
    <%= cl_image_tag @event.photo, height: 300, width: 400, crop: :fill %>
    <h1 style="padding-bottom: 25px;">
    <strong><%= @event.name %></strong>
    </h1>
    <div class="font-italic pt-5" style="font-size: 25px; padding: 5px; "><%= @event.address %>
    </div>
    <div class="font-italic pt-5" style="font-size: 25px; padding: 5px; "><%= @event.about %>
    </div>
    <div class="font-italic pt-5" style="font-size: 25px; padding: 5px; "><p> from <%= @event.start_date %> to
        <%= @event.start_date %> at <%= @event.start_time %> until  <%= @event.end_time %>
    </p>
    </div>
  </div>

<% if current_user.is_creative? %>
  <!-- available spots display here for creatives to see -->
  <!-- creatives can apply for the spot here -->
  <div class="show-spots">
    <h4>Open Spots</h4>
    <br>
      <% @event.spots.each do |spot|%>
      <%= spot.role %>
      <p><%= link_to "Request for the spot",  new_spot_request_path(spot), class: "btn btn-primary" %></p>
      <% end %>
  </div>

<% else %>
  <div class="organizer-container">
  <div class="admin-event-control">
 <!--Edit/delete this event button -->
  <p><%= link_to "Edit this Event",  edit_event_path(@event)%></p>
  <br>
  <p><%= link_to "Delete this Event", event_path(@event), method: :delete, data: {confirm: "Are you sure?"} %></p>
  </div>
  <div class="admin-spot-control">
    <!-- create spot button -->
    <div class="create-spot">
    <br>
    <div> <%= link_to "Create New spots",  new_event_spot_path(@event), class: 'btn-spot' %>
    </div>
    </div>
    <br>
    <div class="open-spots-control">
      <h5> Spots</h5>
<!--       with edit button on it -->
    <div class="each-spot" style="border:1px dotted #D7D7D7;">
      <% @event.spots.each do |spot|%>
        <p><strong><%= spot.category.upcase %> || <%= spot.role %></strong></p>

          <% if spot.requests.empty? || spot.requests.where.not(status: "confirmed").present? %>
            <p>Available 🤷🏼‍♂️</p>
          <% else %>
            <p> Confirmed 🙏</p>
          <% end %>

            <i>"<%= spot.description %>"</i>

            <br></br>

              <% if spot.requests.where(status: "confirmed").present? %>

                <div class="rounded-circle" id="spot-filled" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path spot.requests.first.user.profile_photo %>')">




                  <p>🌟<%= link_to "#{spot.requests.first.user.first_name}", spot_creative_path(spot, spot.requests.first.user)%> 🌟
                  </p>
                  <p><%= spot.requests.first.user.skill %></p>
                </div>

              <% else %>

              <p><b>Blank</b></p>

              <% end %>

      <%= link_to "Edit",  edit_spot_path(spot), class: "btn" %>
      <%= link_to "Delete", spot, class: "btn", method: :delete, data: { confirm: "you sure?" } %>
      <p><%= link_to "Spot Search",  spot_creatives_path(spot), class: "btn btn-primary" %></p>
      <br>
      <br>
    <% end %>
      </p>
    </div>
  </div>

    <div class="see-the-requests-to-spot ">
      <h3>Request Notifications:</h3>
      <% @event.spots.each do |spot| %>
        <% notifications = spot.requests.where(status: :pending) %> <%# Need to change to "pending" %>
        <% notifications.each_with_index do |notification, index| %>
          <p><%= index + 1 %>. <%= link_to "#{spot.requests.first.user.first_name}", spot_creative_path(spot, spot.requests.first.user)%> <%= notification.status %>
          <p>Message: <%= notification.note %></p>
          <%= simple_form_for [@spot, notification], url: spot_request_path(spot, notification)  do |f| %>
              <%= f.input :status, collection: Request.statuses %>
              <%= f.submit :submit %>
          <% end %>

          </p>
        <% end %>
      <% end %>
    </div>
    </div>
  <% end %>
  </div>
</div>
