<%= render 'shared/navbar' %>
   <!-- your main content here -->
<div class="main-container">

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=@event.photo%>);">
          <div class="pull-out-banner p-5">
            <div class="button-pull-out">
              <i class="fas fa-angle-left"></i>
              <div class="more-info-banner">
              <p><b>info</b></p>
              </div>



            </div>
            <h1 class="p-5">What's its all about?</h1>
            <p id="event-info"> <%= @event.about %></p>
            <p>
              <% if !current_user.is_creative %>
                <%= link_to edit_event_path(@event), class: "btn edit-event" do  %>
                  <i class="fa fa-edit"></i>
                <% end %>
              <% end  %>
          </div>
          <div class="banner-text">

          <h1 class="main-event-name"><%= @event.name %></h1>
          <br>

          <h3 class="sub-heading-event-show"><%= @event.start_date.strftime("%b %d, %Y")%> // <%= @event.start_time.strftime("%l %p")%>  - <%= @event.end_time.strftime("%l %p") %></h3>
          <h3 class="pt-1 sub-heading-event-show"><%= @event.venue_name%></h3>

          <p><%= @event.address%></p>
          </div>
    </div>


  <div class="container">


     <!-- MAIN ROW WHERE ONE LINE OF 2 SPOTS GOES  -->
    <% if !current_user.is_creative %>

     <div class="wrapper">
          <% @event.spots.each do |spot|%>

            <div class="show-card">

              <div class=" text-center make-circle">
                <% if spot.requests.where(status: "confirmed").present? %>


                <div class="each-spot-position">



                    <div class="spot-btn-hovering">
                      <div class="each-spot-full text-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path spot.requests.first.user.profile_photo %>')">

                      </div>

                    </div>



                    <%= link_to edit_spot_path(spot), class: "btn edit-spot" do  %>
                      <i class="fas fa-pen"></i>
                    <% end %>

                   <%= link_to "x", spot, class: "btn delete-spot", method: :delete, data: { confirm: "you sure?" } %>

                  <!--   <button class="btn edit-spot"><i class="fa fa-edit"></i>
                    </button> -->

                    <h5 class="spot-name"><%= link_to "#{spot.requests.first.user.first_name}", spot_creative_path(spot, spot.requests.first.user)%> </h5>


                </div>



                <% else  %>

                <div class="each-spot-position">

                  <%= link_to spot_creatives_path(spot) do %>

                    <div class="spot-btn-hovering">
                      <div class="each-spot text-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://indiedeveloper.com/wp-content/themes/sweetdate-child/avatar-blank.jpg')">

                      </div>
                        <h5 class="search-spot-button">search</h5>
                    </div>

                    <% end %>

                    <%= link_to edit_spot_path(spot), class: "btn edit-spot" do  %>
                      <i class="fas fa-pen"></i>
                    <% end %>

                   <%= link_to "x", spot, class: "btn delete-spot", method: :delete, data: { confirm: "you sure?" } %>

                  <!--   <button class="btn edit-spot"><i class="fa fa-edit"></i>
                    </button> -->




                  </div>

                <% end %>

              </div>

              <div class="py-5">
                <div class="spot-info">
                  <% if spot.requests.where(status: "confirmed").present? %>
                    <p class="category-spot"><strong><%= spot.category.upcase %> //</strong></p>
                    <p><strong><%= spot.requests.first.user.skill.upcase %></strong></p>
                    <i><%= spot.description %></i>

                  <% else  %>
                    <p><strong>// <%= spot.category.upcase %> //</strong></p>
                    <p><strong><%= spot.role %></strong></p>
                    <i><%= spot.description %></i>

                  <% end %>
                </div>

              </div>
            </div>

          <% end %>

          <div class="show-card">

           <div class="each-spot-position pt-5 create-spot-icon">

                  <%= link_to new_event_spot_path(@event) do %>

                    <div class="create-spot">
                      <div class="each-spot text-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dqnhjr33l/image/upload/v1567611403/profile%20square/nrgxv9tx6mh6etgbxqvf.png')">

                      </div>
                        <h5 class="search-spot-button">Create</h5>
                    </div>

                    <% end %>

                  <!--   <button class="btn edit-spot"><i class="fa fa-edit"></i>
                    </button> -->




            </div>

        </div>




        </div>

    </div>

  <% elsif current_user.is_creative %>


    <div class="wrapper">

          <% @event.spots.each do |spot|%>

            <div class="show-card border-right border-top">

              <div class=" text-center make-circle">
                <% if spot.requests.where(status: "confirmed").present? %>


                <div class="each-spot-position">



                    <div class="spot-btn-hovering">
                      <div class="each-spot-full text-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path spot.requests.first.user.profile_photo %>')">

                      </div>

                    </div>

                  <!--   <button class="btn edit-spot"><i class="fa fa-edit"></i>
                    </button> -->

                    <h5 class="spot-name"><%= link_to "#{spot.requests.first.user.first_name}", spot_creative_path(spot, spot.requests.first.user)%> </h5>


                  </div>



                <% else  %>

                <div class="each-spot-position">

                  <%= link_to new_spot_request_path(spot) do %>

                    <div class="spot-btn-hovering">
                      <div class="each-spot text-left" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://indiedeveloper.com/wp-content/themes/sweetdate-child/avatar-blank.jpg')">

                      </div>
                        <h5 class="search-spot-button">Apply Now</h5>
                    </div>

                    <% end %>


                  </div>

                <% end %>

              </div>

              <div class="py-5">
                <div class="spot-info">
                  <% if spot.requests.where(status: "confirmed").present? %>
                    <p><strong>// <%= spot.category.upcase %> //</strong></p>
                    <p><strong><%= spot.requests.first.user.skill %></strong></p>
                    <i><%= spot.description %></i>

                  <% else  %>
                    <p><strong>// <%= spot.category.upcase %> //</strong></p>
                    <p><strong><%= spot.role %></strong></p>
                    <i><%= spot.description %></i>

                  <% end %>
                </div>

              </div>
            </div>


          <% end %>
        </div>

        </div>
      </div>

    </div>

  <% end %>



</div>
















