    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="first-row-box">
        <div class="upper-left-box">
          <div class ="cover-avatar">
            <% if current_user.profile_photo.file != nil %>
              <%= cl_image_tag @user.profile_photo, crop: :fill, class: "circle-avatar" %>
            <% else %>
              <%= cl_image_tag 'https://res.cloudinary.com/dpxibu6l4/image/upload/v1566571982/lsgt92afseyw4kszbh1f.png', crop: :fill, class: "circle-avatar" %>
            <% end %>

            <div class="cover-photo">
              <div id="edit-profile">
                <%= link_to edit_profile_path(current_user), class: "btn edit-spot" do  %>
                <p>edit profile info</p>
              </div>
              <% end %>
              <% if current_user.coverphoto.file != nil %>
                <%= cl_image_tag @user.coverphoto, height: 150, width: 500, crop: :fill, class: "cover-photo" %>
              <% else %>
                <%= cl_image_tag "https://res.cloudinary.com/dpxibu6l4/image/upload/v1572974880/oscar-keys-ojVMh1QTVGY-unsplash_lqsop5.jpg", height: 150, width: 500, crop: :fill, class: "cover-photo" %>
              <% end %>
            </div>

          </div>
          <div class="your-self">
            <div class="profile-text">
              <p class ="profile-text"><b>Name</b></p>      <span class ="user-info-1"><%= @user.first_name %><p class ="user-info-1-l">
                <%= @user.last_name  %></p></span>
              <p class ="profile-text"><b>Location</b></p>  <p class ="user-info-2">  <%= @user.location %></p>

            </div>
            <div class="social-media">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
            </div>
          </div>
        </div>

        <div class="upper-right-box">
          <div class="create-new-event">
            <%= link_to "Create Event", new_event_path, class: "create-event" %>
          </div>

        </div>
      </div>

    <div class="row">
      <div id="card-category" class= "col-12" style="background-color:white">
        Your Current Events
      </div>
    </div>


<% if !@events.exists?  %>
  <div class="each-event-empty" >
    <p>You have no current events...</p>
    </div>
<% end %>
    <% @events.each do |event|  %>

    <div class="row">
      <div id = "each-event" class="col-4">
        <%= link_to event_path(event) do %>
        <div id="dash-card" style="height: 93%; background-image: linear-gradient(45deg, rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url('<%= image_path event.photo %>');" >
          <div class="spot-status">
            <% filled_spots = 0 %>
            <% event.spots.each do |spot| %>
            <% filled_spots += spot.requests.where(status: :confirmed).count %>
          <% end %>
            <%= filled_spots %> / <%= event.spots.count %> spots filled
          </div>
            <% if filled_spots == event.spots.count %>
             <div id="trapezoid">
              <span>Confirmed!</span>
            </div>

             <% end %>
        </div>
        <% end %>

        <div class="event-description">
          <h5 class ="event-text"> <b></b><%= event.name %></h5>
          <h5 class ="event-text"><b></b><%= event.venue_name  %></h5>
          <% if !event.start_date.nil? && !event.end_date.nil?  %>
          <h5 class ="event-text"><b></b><%= event.start_date.strftime("%b %d, %Y") %></h5>
          <% end %>
        </div>
      </div>
      <% if !event.spots.present? %>
        <div id="request-box" class ="col-8">

        <h4 class = "request-title">You have not created spots.
          Please create spots.</h4>
        </div>
      <% else %>
          <div id="request-box" class ="col-8">
            <h4 class ="request-title">REQUESTS</h4>
            <% @sorted_requests = [] %>
            <% event.spots.each{|spot| spot.requests.each {|r| @sorted_requests << r}} %>
            <div class="inbox">
            <% if @sorted_requests.blank? %>
              <h2 class ="no-request" style="text-align: center;">You have No Request</h2>
            <% else %>

              <% sorted = @sorted_requests.sort {|req1, req2| req2.created_at <=> req1.created_at} %>
              <% sorted.each_with_index do |request, index| %>
                 <div class="request-content">
                    <h5 class ="received-time">
                      <%= request.created_at.strftime("%b %d, %Y")%></h5>
                   <span class="image-circle"></span>

                    <% if request.user.profile_photo? %>

                   <%= cl_image_tag request.user.profile_photo,crop: :fill, class: "avatar-message" %>
                  <% else %>
                    <%= image_tag"http://morrisinsurancegroup.com/wp-content/uploads/2018/01/blank-avatar.png", class: 'avatar-message' %>
                  <% end %>

                   <div class="from-info">
                    <b>
                     <%= link_to "#{request.user.first_name}", spot_creative_path(request.spot, request.user) %>
                    </b>
                    <%  if request.confirmed? %>
                     <p class="status-green"><b><%= request.status %></b></p>

                     <% elsif request.rejected? %>
                     <p class ="status-red"><b><%= request.status %></b></p>

                    <% else %>

                    <p class="status-yellow"><b><%= request.status %></b></p>
                    <% end %>
                   </div>
                   <p class = "category"><b><%= request.spot.category.upcase %></b> //
                     <%= request.spot.role %>
                   </p>
                   <div class="contents">
                     <p class ="request-text-note"> <%= request.note %></p>
                   </div>
                   <div class="confirm">
                     <%= simple_form_for [request.spot, request], url: spot_request_path(request.spot, request), html: { class: "status-form" } do |f| %>
                       <div class="request-status-box">
                         <a href="#" class="confirm-button-c" data-value="confirmed"><i class="far fa-check-circle"></i></a>
                         <a href="#" class="confirm-button-r" data-value="rejected"><i class="fas fa-times"></i></a>
                         <%= f.input :status, as: :hidden, input_html: { class: 'status-input' } %>
                         <%= f.submit :submit, class: "submit d-none" %>
                       </div>
                     <% end %>
                   </div>
                 </div>
                <% end %>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>




