    <%= render 'shared/navbar' %>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="first-row-box">
        <div class="upper-left-box">
          <div class ="cover-avatar">
            <%= cl_image_tag @user.profile_photo, crop: :fill, class: "circle-avatar" %>
            <div class="cover-photo">
              <%= cl_image_tag @user.coverphoto, height: 150, width: 500, crop: :fill, class: "cover-photo" %>
            </div>
          </div>
          <div class="your-self">
            <div class="profile-text">
              <p class ="profile-text"><b>Name</b></p>      <span class ="user-info-1"><%= @user.first_name %><p class ="user-info-1-l"><%= @user.last_name  %></p></span>
              <p class ="profile-text"><b>Location</b></p>  <p class ="user-info-2">  <%= @user.location %></p>

            </div>
            <div class="social-media">
              <i class="fab fa-facebook-f"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-youtube"></i>
            </div>
          </div>
        </div>

        <div class="upper-right-box">
          <div class="create-new-event">
            <%= link_to "Create Event", new_event_path, class: "create-event" %>
          </div>

        </div>
      </div>

    <div class="row">
      <div id="card-category" class= "col-12" style="background-color:white">
        Your Current Events
      </div>
    </div>


    <% @events.each do |event|  %>

    <div class="row">
      <div id = "each-event" class="col-4">
        <%= link_to event_path(event) do %>
        <div id="dash-card" style="height: 100%; background-image: linear-gradient(45deg, rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url('<%= image_path event.photo %>');" >
          <div class="spot-status">
            <% filled_spots = 0 %>
            <% event.spots.each do |spot| %>
            <% filled_spots += spot.requests.where(status: :confirmed).count %>
          <% end %>
            <%= filled_spots %> / <%= event.spots.count %> spots filled
          </div>
        </div>
        <% end %>

        <div class="event-description">
          <h5 class ="event-text"> <b></b><%= event.name %></h5>
          <h5 class ="event-text"><b></b><%= event.venue_name  %></h5>
          <% if !event.start_date.nil? && !event.end_date.nil?  %>
          <h5 class ="event-text"><b></b><%= event.start_date.strftime("%b %d, %Y") %></h5>
          <% end %>
        </div>
      </div>
      <% if !event.spots.present? %>
        <div id="request-box" class ="col-8">
          You have not created spots.
          Please create spots.
        </div>
      <% else %>
        <div id="request-box" class ="col-8">
          <% @sorted_requests = [] %>
          <% event.spots.each{|spot| spot.requests.each {|r| @sorted_requests << r}} %>
          <% sorted = @sorted_requests.sort {|req1, req2| req2.created_at <=> req1.created_at} %>
          <% sorted.each_with_index do |request, index| %>

                 <div class="request-content">
                    <h5 class ="received-time"><%= request.created_at %></h5>
                   <!-- <p class ="request-text"> <%#= index + 1 %></p> <br> -->
                   <span class="image-circle"></span>
                   <%= cl_image_tag request.user.profile_photo,crop: :fill, class: "avatar-message" %>
                   <div class="from-info">
                     <%= link_to "#{request.user.first_name}", spot_creative_path(request.spot, request.user)%>
                    <%#  request.status: :confirmed ? %>
                      <%#= request.status, class: 'status-purple' %>

                    <%# else %>

                    <%#= request.status, class: 'status-yellow' %>
                    <%# end %>
                   </div>
                   <p class = "category"><%= request.spot.category %>
                     <%= request.spot.role %>
                   </p>
                   <div class="contents">
                     <p class ="request-text-note"> <%= request.note %></p>
                   </div>
                   <div class="confirm">
                     <%= simple_form_for [request.spot, request], url: spot_request_path(request.spot, request), html: { class: "status-form" } do |f| %>
                       <div class="request-status-box">
                         <a href="#" class="button" data-value="confirmed"><i class="fas fa-check"></i></a>
                         <a href="#" class="button" data-value="rejected"><i class="fas fa-times"></i></a>
                         <%= f.input :status, as: :hidden, input_html: { class: 'status-input' } %>
                         <%= f.submit :submit, class: "submit d-none" %>
                       </div>
                     <% end %>
                   </div>
                 </div>

          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>





