    <%= render 'shared/navbar' %>
    <br>
    <br>
    <br>
    <br>
  <div class="box">
    <div class="wrapping-box">

    <div class="first-row-box">
      <div class="upper-left-box">
        <div class ="cover-avatar">
          <%= cl_image_tag @user.profile_photo, crop: :fill, class: "circle-avatar" %>
        <div class="cover-photo">
          <%= cl_image_tag @user.coverphoto, height: 150, width: 500, crop: :fill, class: "cover-photo" %>
        </div>
      </div>
        <div class="notification-box">
          <div class="each-notification">
            <p class ="notification-text">CreativeA made a request to this event 1. </p>
          </div>
          <div class="each-notification">
            <p class ="notification-text">CreativeA made a request to this event 1. </p>
          </div>
          <div class="each-notification">
            <p class ="notification-text">CreativeA made a request to this event 1. </p>
          </div>
        </div>
      </div>
      <div class="upper-right-box">
       <div class ="profile-title"><h6>Your profile</h6></div>
         <div class="social-media">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
         </div>
            <ul class ="profile-content">
            <li style="list-style: none;"><p class ="profile-text">Name: <%= @user.first_name  %> <%= @user.last_name  %></li></p>
            <li style="list-style: none;"><p class ="profile-text">Location: <%= @user.location  %></li></p>
            <li style="list-style: none;"><p class ="profile-text">Looking for: <%= @user.looking_for  %></li></p>
            <li style="list-style: none;"><p class ="profile-text">Contact: <%= @user.email  %></li></p>
           </ul>
      </div>
    </div>
  <div class="row-box">
     <% @events.each do |event|  %>
       <div id = "each-event" class="col md-6 places-holder">
        <div class="event-info">
        <%= link_to event_path(event) do %>
        <div class="event-photo">
          <img id="dash-card" src="<%=event.photo%>" height="150" width="200"/>
         <% end %>
        </div>
        <div class="event-description">
          <h6 style="list-style: none;">NAME: <%= event.name %></h6>
          <h6 style="list-style: none;">VENUE: <%= event.venue_name  %></h6>
          <h6 style="list-style: none;">DATE: <%= event.address  %></h6>
          <h6 style="list-style: none;">START: <%#= event.start_date.strftime("%b %d, %Y") %></h6>
          <h6 style="list-style: none;">End <%#= event.end_date.strftime("%b %d, %Y") %></h6>
            </div>
        <div class="spot-status">
          3 spots /
          2 filled<!--
        hard-coded please change with ruby code! -->
        </div>
        </div>
        <% event.spots.each do |spot| %>
          <% notifications = spot.requests.where(status: :pending) %> <%# Need to change to "pending" %>
          <% notifications.each_with_index do |notification, index| %>
        <div id="request-box">
          <p class ="request-text">Message # <%= index + 1 %> <br>
              From <%= link_to "#{spot.requests.first.user.first_name}", spot_creative_path(spot, spot.requests.first.user)%> <br> Status: <%= notification.status %></p>
              <p class ="request-text">Message: <%= notification.note %></p>

                  <%= simple_form_for [@spot, notification], url: spot_request_path(spot, notification), html: { class: "status-form" } do |f| %>
                   <div class="request-status-box">
                  <a href="#" class="button" data-value="confirmed">✅</a>
                  <a href="#" class="button" data-value="rejected">❌</a>
                  <%= f.input :status, as: :hidden, input_html: { class: 'status-input' } %>
                  <%= f.submit :submit, class: "submit d-none" %>
                  </div>
                <% end %>
        </div>
        <% end %>
       <% end %>
    </div>
    <% end %>
    </div>
  </div>
</div>

