<div class="navbar navbar-expand-md fixed-top navbar-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
   <p class ="logo-text"> ManyHands</p>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     <% if user_signed_in? %>
      <li>
        <%= link_to "Log Out", destroy_user_session_path, class: "nav-link", style: "color: white", method: :delete %>
      </li>
      <% else %>
      <li>
        <%= link_to "Log In", new_user_session_path, class: "nav-link", style: "color: white" %>
      </li>

      <% end %>

      <li class="nav-item dropdown ml-4">
        <%= link_to dashboard_path do  %>
        <% if user_signed_in? %>
        <%= cl_image_tag current_user.profile_photo, height: 45, crop: :fill, class: "avatar" %>
        <%else  %>
        <%= image_tag "http://indiedeveloper.com/wp-content/themes/sweetdate-child/avatar-blank.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <% end  %>

      </li>


    </ul>
  </div>
</div>


<section class="site-hero overlay mb-4" style="background-image: url(https://images.unsplash.com/photo-1531408350063-06037098acae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80)">
      <div class="container">
        <div class="row site-hero-inner justify-content-center align-items-center">
          <div class="col-md-12">
            <h1 class="heading-line" data-aos="fade-up">MANY HANDS</h1>
            <p class="sub-heading mb-5" data-aos="fade-up" data-aos-delay="100">
            Make your events uniques hiring creatives from your local community
            </p>

            <p class="pt-4" data-aos="fade-up" data-aos-delay="100">
              <%= link_to 'EXPLORE', events_path, class: "main-cta" %>
            </p>
          </div>
        </div>
      </div>
    </section>
