<div class="navbar navbar-expand-md fixed-top navbar-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
   <p class ="logo-text"> ManyHands</p>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     <% if user_signed_in? %>
      <li>
        <%= link_to "Log Out", destroy_user_session_path, class: "nav-link", style: "color: white", method: :delete %>
      </li>
      <% else %>
      <li>
        <%= link_to "Log In", new_user_session_path, class: "nav-link", style: "color: white" %>
      </li>

      <% end %>

      <li class="nav-item dropdown ml-4">
        <%= link_to dashboard_path do  %>
        <% if user_signed_in? %>
        <%= cl_image_tag current_user.profile_photo, height: 45, crop: :fill, class: "avatar" %>
        <%else  %>
        <%= image_tag "http://indiedeveloper.com/wp-content/themes/sweetdate-child/avatar-blank.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <% end  %>

      </li>


    </ul>
  </div>
</div>



<section class="site-hero overlay mb-4" style="background-color: black;">
      <div class="landing-container">
        <div class="row">
          <div class="headings">
            <h1 class="heading-line" data-aos="fade-up">Many<br> hands<%#= link_to 'EXPLORE', events_path" %></h1>
            <p class="pt-4" data-aos="fade-up" data-aos-delay="100">
            <div class = "landing-cta">
              <p>Are you a&nbsp; Event Organizer? Do&nbsp;you have a&nbsp;new event coming up? Find&nbsp;up and coming creatives in&nbsp; your local community. Follow the link below to&nbsp;follow&nbsp;&nbsp;us &nbsp;to discover cool creatives!
              </p>
              <span style="display: flex;"> <%= link_to 'Discover', events_path, class: "discover" %>
                <svg id="arrow" href="/events" viewBox="0 0 24 24">
                    <polygon points="1,0 1,6 13.757,6 0.615,19.142 4.858,23.385 18,10.243 18,23 24,23 24,0 "></polygon>
                </svg>
                </span>
            </div>
            </p>
          </div>
        </div>
      </div>
    </section>
