<div class="navbar navbar-expand-md fixed-top navbar-dark" style="background-color: tranpsarent">
  <%= link_to root_path, class: "navbar-brand" do %>
   <h5 class ="logo-text"> ManyHands</h5>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
     <% if user_signed_in? %>
      <li>
        <%= link_to "Log Out", destroy_user_session_path, class: "nav-link", style: "color: white", method: :delete %>
      </li>
      <% else %>
      <li>
        <%= link_to "Log In", new_user_session_path, class: "nav-link", style: "color: white" %>
      </li>

      <% end %>

      <li class="nav-item dropdown ml-4">
        <%= link_to dashboard_path do  %>
        <% if user_signed_in? %>
        <%= cl_image_tag current_user.profile_photo, height: 45, crop: :fill, class: "avatar" %>
        <%else  %>
        <%= image_tag "http://indiedeveloper.com/wp-content/themes/sweetdate-child/avatar-blank.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <% end  %>

      </li>


    </ul>
  </div>
</div>



<section class="site-hero overlay mb-4" style="background-image: url(https://images.unsplash.com/photo-1551370764-98cd16e274f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)">
      <div class="landing-container">
        <div class="main-landing-row">
          <div class="headings">
            <h1 class="heading-line" data-aos="fade-up">MANY<br> HANDS<%#= link_to 'EXPLORE', events_path" %></h1>
            <p class="pt-4" data-aos="fade-up" data-aos-delay="100">
            <p class="pt-4" data-aos="fade-up" data-aos-delay="100">
                  <span style="display: flex;">  <%= link_to 'EXPLORE', events_path, class: "main-cta" %>
                <svg id="arrow" href="/events" viewBox="0 0 24 24">
                    <polygon points="1,0 1,6 13.757,6 0.615,19.142 4.858,23.385 18,10.243 18,23 24,23 24,0"></polygon>
                </svg>
                </span>
            </p>
          </div>
          </div>
        </div>
    </section>
    <div class="project-info">

    <h2>How <br>we collaborate</h2>

    <div class="process">
      <div class="each-process">
         <p class ="process-text">step 1 - Time to organize your event</p>
        <picture class="cover"><img src="https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=650&q=80" class ="process-photo" ></picture>
      </div>
       <div class="each-2">
      <p class ="process-text">step 2 - Create your event page</p>

      <picture class="cover"><img src="https://images.unsplash.com/photo-1519111887837-a48ccf9edc00?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=650&q=80" class ="process-photo"></picture>
      </div>
      <div class="each-3">
        <p class ="process-text">step 3 - You will advertise the spots you want to fill</p>
      <picture class="cover"><img src="https://images.unsplash.com/photo-1561834029-b95a90eeb4dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=650&q=80" class ="process-photo"></picture>
       </div>
      <div class="each-4">
        <p class ="process-text">step 4 - You wait for request or search actively</p>
      <picture class="cover"><img src="https://images.unsplash.com/photo-1500462918059-b1a0cb512f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=650&q=80" class ="process-photo"></picture>
      </div>

       <div class="each-5">
        <div class="each-p">
        <p class ="process-text">step 5 - Have a spectacular event</p>
        <picture class="cover"><img src="https://images.unsplash.com/photo-1552819471-ab8763db1aad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=605&q=80" class ="process-photo"></picture>
        </div>
          <div class = "creative-cta">
              <p>Are you &nbsp; musician or visual artist or performance artist? Or&nbsp;you just want to be part of &nbsp;cool events by helping out? Join&nbsp;and find out events &nbsp; in your local community. Follow the link below to&nbsp;discover &nbsp;&nbsp;opportunities! &nbsp;
              </p>
              <span style="display: flex;"> <%= link_to 'Apply', events_path, class: "apply" %>
                <svg id="arrow" href="/events" viewBox="0 0 24 24">
                    <polygon points="1,0 1,6 13.757,6 0.615,19.142 4.858,23.385 18,10.243 18,23 24,23 24,0"></polygon>
                </svg>
                </span>
            </div>

       </div>
       </div>
</div>
