<%= render 'shared/navbar' %>


<div class="container" style="padding-top: 120px; width:1600px;">

  <h1 class="text-center" style="color: black;"><%= @spot.category.capitalize.gsub(/_/, ' ') %> creatives in your area</h1>

  <br>
  <%= link_to "< Back to your event", event_path(@spot.event), class: "btn boton" %>

  <%= simple_form_for(@spot) do |f| %>
  <div>
    <div  class="d-flex justify-content-start" style="max-width: 200px;">
    <%= f.input :category, collection: Spot.categories.keys, class: "categoria" %>
    </div>
    <div  class="d-flex justify-content-start" style="max-width: 500px;">
    <%= f.input :role, class: "rol" %>
    </div>
    <div class="d-flex justify-content-start" >
    <%= f.submit "Search", class: "btn boton" %>
    </div>
  <% end %>
  </div>



  <div class="text-center mb-4">

    </div>
    <div><p>Showing <%= @users.count %> results</p></div>
  <div class="row" style="padding-top: 0px;">
    <% @users.each do |user| %>
      <div class="notification position-relative" style=" background: #f9f9f9; margin: 15px 15px 15px 0; padding-bottom: 8px;">
        <div  class="mb-3">
          <%= link_to spot_creative_path(@spot, user) do %>
          <div><%= cl_image_tag user.coverphoto, height: 100, width:180, crop: :fill%></div>
          <div class="position-absolute profile-avatar" style="border-radius: 50%; border: 8px solid #ff4900;"><%= cl_image_tag user.profile_photo, height: 100, width:100, radius: 50, crop: :fill %></div>
        </div>
        <% end %>
        <div class="notification-content">
          <p><strong>Name: </strong><%= link_to user.first_name, spot_creative_path(@spot, user) %></p>
          <p><strong>Category: </strong><%= user.category.capitalize %></p>
          <p><strong>Skill: </strong><%= user.skill.capitalize %></p>
        </div>

        <div class="notification-actions">
          <%= link_to new_spot_invitation_path(@spot, user) do %>
          <div class="button text-center">
          <i class="far fa-comments text-center"></i>
          <p class= text-center>Invite</p>
          </div>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>

</div>

