<h1 style="padding-top: 100px">Creatives in your area</h1>

<div class="container">
  <div class="row">
    <%= link_to "Back to your event", event_path(@spot.event), class: "btn btn-primary" %>

    <% @users.each do |user| %>
      <div class="card m-3" style="border:1px dotted #D7D7D7;" align="center">
         <%= cl_image_tag user.coverphoto, height: 150, width: 200, crop: :fill %>

        <p class="card-text">
        <%= cl_image_tag user.profile_photo, height: 100, width:100, radius: 50, crop: :fill %>
        </p>
        <p class="card-text">
        <%= link_to user.first_name, spot_creative_path(@spot, user) %>
        </p>
        <p class="card-text">
        <%= user.category %>
        </p>
        <p class="card-text">
        <%= user.skill %>
        </p>
      </div>
    <% end %>
  </div>
</div>

