<%= render 'shared/navbar' %>


<div class="container" style="padding-top: 120px; width:1600px;">
  <br>
  <h1 class="text-center">Creatives in your area</h1>
  <br>
  <div class="text-center mb-4">
    <%= link_to "< Back to your event", event_path(@spot.event), class: "btn btn-primary" %>
    </div>
  <div class="row">
    <% @users.each do |user| %>
      <div class="notification position-relative" style="margin: 15px; padding-bottom: 8px;">
        <div  class="mb-3">
          <div><%= cl_image_tag user.coverphoto, height: 100, width:180, crop: :fill%></div>
          <div class="position-absolute profile-avatar"><%= cl_image_tag user.profile_photo, height: 100, width:100, radius: 50, crop: :fill %></div>
        </div>
        <div class="notification-content">
          <p><%= link_to user.first_name, spot_creative_path(@spot, user) %></p>
          <p><%= user.category %></p>
          <p><%= user.skill %></p>
        </div>

        <div class="notification-actions">
          <div><a href="#">Confirm <i class="fas fa-check"></i></a></div>
          <div><a href="#">Reject <i class="far fa-times-circle"></i></a></div>
          <div><a href="#">Invite <i class="far fa-comments"></i></a></div>
        </div>
      </div>

    <% end %>
  </div>
</div>

