<%= render 'shared/navbar' %>


<div class="container" style="padding-top: 120px;">
  
  <h1 class="text-center" style="color: black;"><%= @spot.category.capitalize.gsub(/_/, ' ') %> creatives results</h1>
  <br>
  
    <%= simple_form_for(@spot) do |f| %>
  <div class="d-flex">
      <%= f.input :category, wrapper_html: { class: "d-flex nombre", style: "width: 330px;" }, abbr_html: { class: "d-flex" } , label_html: { class: "d-flex mr-3"}, collection: Spot.categories.keys %>
      <%= f.input :role, wrapper_html: { class: " d-flex nombre mr-3 ml-3", style: "width: 580px" }, label_html: { class: "mr-3 "}%>
      <div class= "ml-1 mr-1" style="width: 235px; position: relative; top: 3px; color:black"><p class="nombre">By Event Location</p></div>
       <label class="field check-round slide mr-3">

          <input type="checkbox" name="check-slide" id="check-slide" />

          <label for="check-slide"><span></span></label>
        </label>
      <%= f.submit "Search", class: "d-flex btn boton", style: "height: 40px;" %>
    <% end %>
    </div>
  

  <div class="text-center mb-4">
    
    </div>
    <div class="text-center" style="font-size: 18px;"><p>Showing <%= @users.count %> results</p></div>
    <%= link_to "< Back to event", event_path(@spot.event), class: "btn boton" %>
  <div class="row" style="padding-top: 0px; width: 1142px;">
    <% @users.each do |user| %>
      <div class="notification position-relative" style=" background: #f9f9f9; margin: 15px 15px 15px 0; padding-bottom: 8px; width: 500px">
        <div  class="mb-3">
          <%= link_to spot_creative_path(@spot, user) do %>
          <div><%= cl_image_tag user.coverphoto, height: 100, width:180, crop: :fill%></div>
          <div class="position-absolute profile-avatar" style="border-radius: 50%; border: 8px solid #ff4900;"><%= cl_image_tag user.profile_photo, height: 100, width:100, radius: 50, crop: :fill %></div>
        </div>
        <% end %>
        <div class="d-flex notification-content">
          <div>
            <p><strong>Name </strong></p>
            <p><strong>Category </strong></p>
            <p><strong>Skill </strong></p>
          </div>
          <div style="padding-left: 15px">
            <p><%= link_to user.first_name.upcase, spot_creative_path(@spot, user) %></p>
            <p><%= user.category.upcase %> //</p>
            <p><%= user.skill.upcase %></p>
          </div>
        </div>

        
      </div>

    <% end %>
  </div>

</div>

