
<%= render 'shared/navbar' %>
<div class="user-container">
  <div class="go-back-buttons">
    <%= link_to "BACK TO EVENT", event_path(@spot.event), class: 'go-back-event-button' %>
    <%= link_to "BACK TO SEARCH", spot_creatives_path(@spot.id), class: 'search-again-button' %>

  </div>

  <div class="user-bio">

    <div class="bio-photo">

      <%= cl_image_tag @user.coverphoto, height: 240, width: 650, crop: :fill, class: "user-cover-photo" %>

      <%= cl_image_tag @user.profile_photo,crop: :fill, class: "user-profile-photo" %>
    </div>


    <div class="description">
       <h5><br>
        <%= @user.email %></h5>
    <ul class = "bio-text">
      <li style="list-style: none;"><p class= "title"> Bio</p>  <%= @user.bio  %></li>
      <li style="list-style: none;"><p class= "title">Location</p> <%= @user.location  %></li>
      <li style="list-style: none;"><p class= "title">Looking for</p> <%= @user.looking_for  %></li>
      <li style="list-style: none;"><p class= "title">Skill</p> <%= @user.skill  %></li>
      <li style="list-style: none;"><p class= "title">Category</p> <%= @user.category  %></li>
      <li style="list-style: none;"><p class= "title">Style</p> <%= @user.style  %></li>
    </ul>
      <div class="invite-button">
         <%= link_to "INVITE", new_spot_invitation_path(creative_id: @user.id), class: 'spot-invite-button' %>
      </div>
    </div>
  </div>


ap
  <div class="social-stuffs">
    <div class="sound-cloud">

    </div>
    <div class="instagram">

    </div>
    <div class="review">


    </div>


  </div>
</div>


