<%= render 'shared/navbar' %>
<p></p>
<br>
<br>


<div class="user-show-container">
  <div class="page-container">
    <div class="left-side mr-3">
      <div class="user-bio">
        <div class="bio-photo">
        <div class="go-back-buttons">
          <%= link_to spot_creatives_path(@spot.id), class: 'search-again-button' do %>
          <i class="fas fa-chevron-circle-left fa-4x"></i>
          <% end %>
        </div>
          <div id="invite-position">
          <%= cl_image_tag @user.coverphoto, height: 240, width: 650, crop: :fill, class: "user-cover-photo" %>
          </div>
          <div>
          <div class="invite-button">
            <% request = @user.requests.find_by(spot: @spot) %>
            <% if request.present? && request.pending? %>
              <%= simple_form_for([@spot, request]) do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: "confirmed" } %>
                <%= f.submit "CONFIRM", class: 'spot-invite-button' %>
              <% end %>
            <% elsif request.nil? %>
            <%= link_to "INVITE", new_spot_invitation_path(creative_id: @user.id), class: 'spot-invite-button' %>
            <% end %>
          </div>
            <div style="background-image: url(<%= cl_image_path @user.profile_photo %>)" class="user-profile-photo"></div>
          </div>
        </div>














        <div class="description mt-3">
          <br>
          <br>
          <br>
          <br>
          <ul class = "bio-text">
            <div id="info-padding">
              <div id="info-alignment" class="d-flex justify-content-between">
                <div id="info-titles" style="font-weight: bold;">
                  <p style="list-style: none;" class= "title">NAME </p>
                  <p style="list-style: none; padding-top: 10px;" class= "title">LOCATION </p>
                  <p style="list-style: none; padding-top: 10px;" class= "title">LOOKING FOR </p>
                  <p style="pst-style: none; padding-top: 10px;" class= "title">SKILL </p>
                  <p style="pst-style: none; padding-top: 10px;" class= "title">CATEGORY </p>
                  <p style="pst-style: none; padding-top: 10px;" class= "title">STYLE </p>
                </div>
                <div class="info-inputs pr-5">
                 <p style="pst-style: none;" class= "title"><%= @user.first_name %> <%= @user.last_name%></p>
                  <p style="pst-style: none; padding-top: 10px;" class= "title"><%= @user.location %></p>
                  <p style="pst-style: none; padding-top: 10px;" class= "title"><%= @user.looking_for  %></p>
                  <p style="pst-style: none; padding-top: 10px;" class= "title"><%= @user.skill %></p>
                  <p style="pst-style: none; padding-top: 10px;" class= "title"><%= @user.category  %></p>
                  <p style="pst-style: none; padding-top: 10px;" class= "title"><%= @user.style %></p>
                </div>
              </div>
              <p></p>
              <p style="list-style: none; padding-top: 10px; font-weight: bold;"> BIO </p>
              <div id="bio-info-scroll">
                <p style="list-style: none;" class="text-justify"> <%= @user.bio %></p>
              </div>
            </div>
          </ul>
          <div class="d-flex justify-content-around pt-3">
            <div></div>
            <div></div>
            <div>
            <i class="fab fa-facebook-f fa-2x"></i>
            </div>
            <div>
            <i class="fab fa-instagram fa-2x"></i>
            </div>
            <div>
            <i class="fab fa-soundcloud fa-2x"></i>
            </div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>


    <div class="selected-images">
      <div class="sound-cloud">

         <iframe width="100%" height="200" src="<%= @user.embed %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>

      <div class="image-feed">
        <div id="image-padding">
          <!-- <a href=""><img src="" class="fas fa-plus" id="plus-icon" alt=""></a> -->
          <!-- <a href=""><div class="d-flex justify-content-center align-items-center h-100"><span style="url(https://res.cloudinary.com/dqnhjr33l/image/upload/v1567611403/profile%20square/nrgxv9tx6mh6etgbxqvf.png)" id="plus-icon"></span></div></a> -->
          <a href="#"><img class="d-flex justify-content-center align-items-center h-100" src="https://res.cloudinary.com/dqnhjr33l/image/upload/v1567611403/profile%20square/nrgxv9tx6mh6etgbxqvf.png" alt=""></a>

          <% @user.photos.each do |photo| %>
            <a href="#"><%= cl_image_tag photo.photo %></a>
          <% end %>
        </div>
      </div>
<br>
      <div id="review-box">
        <h4>Reviews</h4>
        <div id="review-scroll">

          <div class="flash" role="alert">
            <div class="d-flex">
              <span><strong>Excellent</strong></span>
              <span class="text-justify mr-3 ml-3">Great energy!!</span>
            </div>

            <div class="d-flex">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>
          </div>

          <div class="flash" role="alert">
            <div class="d-flex">
              <span><strong>Good</strong></span>
              <span class="text-justify mr-3 ml-3">Decent performance</span>
            </div>

              <div class="d-flex">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>
          </div>

          <div class="flash" role="alert">
            <!-- <div class="d-flex"> -->
              <span><strong>Perfect</strong></span>
              <span class="text-justify mr-3 ml-3">A pleasure.</span>
          <!--   </div> -->
              <div class="d-flex">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



