
<%= render 'shared/navbar' %>
<div class="user-show-container">
  <div class="go-back-buttons">
    <%= link_to "BACK TO EVENT", event_path(@spot.event), class: 'go-back-event-button' %>
    <%= link_to "BACK TO SEARCH", spot_creatives_path(@spot.id), class: 'search-again-button' %>

  </div>
  <div class="page-container">

  <div class="user-bio">

    <div class="bio-photo">

      <%= cl_image_tag @user.coverphoto, height: 240, width: 650, crop: :fill, class: "user-cover-photo" %>

      <%= cl_image_tag @user.profile_photo,crop: :fill, class: "user-profile-photo" %>
    </div>


    <div class="description">
       <h4><br>
        <%= @user.email %></h4>
    <ul class = "bio-text">
      <li style="list-style: none;"><p class= "title"> Bio</p>  <%= @user.bio  %></li>
      <li style="list-style: none;"><p class= "title">Location</p> <%= @user.location  %></li>
      <li style="list-style: none;"><p class= "title">Looking for</p> <%= @user.looking_for  %></li>
      <li style="list-style: none;"><p class= "title">Skill</p> <%= @user.skill  %></li>
      <li style="list-style: none;"><p class= "title">Category</p> <%= @user.category  %></li>
      <li style="list-style: none;"><p class= "title">Style</p> <%= @user.style  %></li>
    </ul>
      <div class="invite-button">
         <%= link_to "INVITE", new_spot_invitation_path(creative_id: @user.id), class: 'spot-invite-button' %>
      </div>
    </div>
  </div>


  <div class="social-stuffs">
    <div class="sound-cloud">

    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/72199688&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

    </div>
    <div class="instagram-feed">

                    <a href="#"><img src="https://images.unsplash.com/photo-1554177255-61502b352de3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt=""></a>
                    <a href="#"><img src="https://images.unsplash.com/photo-1554177255-61502b352de3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt=""></a>
                    <a href="#"><img src="https://images.unsplash.com/photo-1554177255-61502b352de3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt=""></a>
                    <a href="#"><img src="https://images.unsplash.com/photo-1554177255-61502b352de3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt=""></a>
                    <a href="#"><img src="https://images.unsplash.com/photo-1554177255-61502b352de3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt=""></a>
                    <a href="#"><img src="https://images.unsplash.com/photo-1554177255-61502b352de3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt=""></a>


    </div>
    <div class="review">


    </div>


  </div>
</div>
</div>


